.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.InputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.InputLabel {
  padding-right: 10px;
}
.GraphContainer {
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 992px) {
  .GraphContainer {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .GraphContainer {
    width: 400px;
    height: 400px;
  }
}
